/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
  font-family: 'Open Sans', sans-serif;
  color:#000;
}
h2, .h2 {
    font-size: 25px;
}
.carousel-testimonials .owl-wrapper > div, .carousel-testimonials .owl-wrapper > div > div {
    display: flex;
}
.carousel-testimonials .owl-wrapper {
    display: flex !important;
}
footer {
  background: #fff;
  margin:0;
}
.qmf_page {
    /* text-align: justify !important; */
    margin: 10px auto 40px;
    width: 550px;
    max-width: 100%;
}
a#webmember_login,#login-button {
    background: #977837 !important;
    color: #fff !important;
	display:block;
    padding: 9px 30px;
	margin:0;
    text-transform: uppercase;
    font-size: 11pt !important;
}
.thumb a.thumbnail.fancybox {
    position: relative;
    overflow: hidden;
    padding: 50% 0 0 0;
    min-width: 100%;
}
a.thumbnail.fancybox img {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    max-width: none;
    min-width: 100%;
}
img{max-width:100%;}

a{
	cursor:pointer;
}
.thumbnail .name-photo {
    /* height: 60px; */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 150px;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 0;
    background: #fff;
}
span.sign {
    font-size: 7pt;
    vertical-align: top;
}
span.sign img {
    width: 9px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 1px;
}
a:hover{
	text-decoration:underline;
}
.header-left a:hover {
    text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover{
  outline: none;
}
td,th{padding:0 5px;height:auto}
.fa-3 {
  font-size: 20pt;
  font-weight: bold;
  top: 2px;
  position: relative;
}
input[type="text"],input[type="text"]:focus,.form-control,.form-control:focus {
    border-radius: 0;
}
.row-content {
    margin-bottom: 20px;
}
.header1 {
  margin-bottom: 0;
}
.p_right{float:right;}

/*MENU*/

.navbar-brand {
    display: block;
    float: left;
    padding: 10px 15px 0;
}
.carousel-testimonials a.btn.more,ul.testimonial .more {
    padding: 0;
    margin: 10px 0 20px;
    background: transparent;
    color: red;
    font-size: 15.5px;
}
.carousel-testimonials blockquote {
    border: 0;
    background: url(images/quotes.png)no-repeat #eee;
    min-height: 200px;
    padding: 10px 30px 20px;
    text-align: left;
    background-size: 50px;
    background-position: 94% 98%;
}
.pagination.pagination-small ul b {
    background: #eee;
    padding: 7px 12px;
    margin: -8px -12px;
}
@media (min-width:768px){
.therapist .grid-column:nth-child(4n+1) {clear:both}
.therapist .grid-column {
	width: 25% !important;
}
.col-sm-4.page-thumbnail-agenda:nth-child(3n+1) {
    clear: both;
}
div#content td img {
    max-width: none;
}
.footerlink .row > div:nth-child(3) {
    padding-left: 0;
}
.navbar-brand {
    display: inline-block;
    float: none;
}
.thumbnail-product > div:nth-child(3n+1) {
    clear: both;
}
.product_attributes {
    display: inline-block;
	vertical-align:top;
	margin-right:15px;
}
.quantity-field{margin-right:0}
.product_attributes select, .product_attributes input {
    display: block !important;
    margin-top: 0 !important;
}
select#attr-size {
    float: left;
}
.mobile-display{display:none !important}
.fb-like.nomobile-display {
    vertical-align: middle;
    padding: 6px 0 10px;
	display:inline-block;
}
.navbar-inverse #bs-example-navbar-collapse-1 .navbar-nav > li > a {
    font-size: 15px;
}
div#searchproduct {
    float: left;
    top: -4px;
    position: relative;
}
input#keyword {
    border-radius: 0;
    border-color: #171717;
    width: 200px;
    background: #fafafa;
}
button.searchubmit {
    position: absolute;
    right: 0;
    top: 0;
    background: #171717;
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0;
    color: #fff;
    border: 1px solid #171717;
}
.navbar-nav > li.dropdown-right ul.dropdown-menu {
    left: 0;
    margin-top: 0;
    border: 1px solid #aaa;
    min-width: 100%;
    border-radius: 0;
    right: auto;
}
.navbar-brand > img {
    margin: 5px 0px;
    max-height: 70px;
}
}
#button-mobile.nonactive{bottom:-53px}
#button-mobile{
    position: fixed;
    bottom: 0;
	width:100%;
	z-index:4;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#bs-example-navbar-collapse-3{
    position: fixed;
    bottom: 0;
    max-height: 95%;
    z-index: 3;
    width: 92%;
    left: 4%;
    margin: 0 auto;
}
#bs-example-navbar-collapse-3 .nav.navbar-nav{
	box-shadow:none;
	-ms-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	max-height:100%;
	margin:0 !important;
	border-top:15px solid #fff;
	padding-bottom:87px;
	background:#171717;
}
.button-mobile-toggle {
    width: 150px;
    height: 40px;
    background:url(images/button-mobile.png)no-repeat 50% -430px/430px;
	margin:0 auto;
	display:block;
}
.menu-button-mobile ul.list-inline li a{display:block;height:100%;}
.menu-button-mobile ul.list-inline li span{width: 40px;height: 100%;background:url(images/button-mobile.png)no-repeat 0 0/430px;display:inline-block;}
.menu-button-mobile ul.list-inline li span.button-menu-icon{background-position:-146px -6px}
.menu-button-mobile ul.list-inline li span.button-phone-icon{background-position:-82px -6px;}
.menu-button-mobile ul.list-inline li span.button-mail-icon{background-position:-343px -9px;}
.menu-button-mobile ul.list-inline li{width:25%;float:left;height:53px;margin:0;border:1px solid #d9d9d9;border-left-color:#bbb}
.menu-button-mobile ul.list-inline li:first-child{border-left-color:#d9d9d9}
.menu-button-mobile ul.list-inline:after{content:"";clear:both;display:block}
span.button-home-icon {
    background: url(images/home-icon.svg)no-repeat !important;
    background-size: 28px !important;
    background-position: center !important;
}
span.button-product-icon {
    background: url(images/cart-icon.svg)no-repeat !important;
    background-size: 30px !important;
    background-position: center !important;
}
.menu-button-mobile ul.list-inline {
    margin: 0;
	text-align:center;
    background: -webkit-linear-gradient(top, #fff 35%, #d7d7d7 80%);
    background: linear-gradient(to bottom, #fff 35%, #d7d7d7 80%);
	box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.5);
	-ms-box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.5);
}

/*========WIDGET========*/

/*--SLIDE--*/
.slider img {width:100%;}
#slider1_container > div {
  max-width: 100%;
}
.slider {
    position: relative;
    margin: 0px auto;
}

/*--AGENDA--*/

.img-event {
  margin-bottom: 5px;
}
#eventwidget .judulevent {
  margin-bottom: 7px;
}
#eventwidget > li {
  margin-bottom: 15px;
}
.widgedconten ul {
  list-style: outside none none;
  padding: 0;
}

/*---NEWS---*/

.thumbnail-news .media {
  margin-bottom: 15px;
}
.widgedconten .media {
  padding-bottom: 5px;
}
.widgedconten .media:last-child {
  border-bottom: none;
}
.sub > ul {
  padding-left: 20px;
}

/*---LOGIN FORM---*/

.registerlink {
  margin-top: 8px;
}
.registerlink > a {
  font-size: 9pt;
}
.registerlink > a:first-child {
  border-right: 1px solid;
  padding-right: 5px;
}

/*---TESTIMONIAL---*/

.widgedconten a .titletesti {
  border: 0 none;
  font-size: 13pt;
  margin-bottom: 5px;
  padding: 0;
}
.widgedconten .clients-words {
  margin-top: 5px;
}
.widgedconten .clients-name {
  padding-bottom: 4px;
  margin-bottom: 4px;
  font-size:12pt;
}
.widgedconten .clients-detail {
  margin-bottom: 10px;
}

/*=======CONTENT=======*/

/*--PRODUCT--*/

.breadcrumb > li:first-child > i {
  display: none;
}
.reduction {
  background: none repeat scroll 0 0 #171717;
  clear: both;
  display: inline-block;
  font-size: 14px;
  height: auto;
  line-height: normal;
  margin: 0 auto;
  padding: 3px 9px;
  position: relative;
  text-align: center;
  width: auto;
  margin-top: 5px;
}
/*--DOWNLOAD--*/

.link_download > a {
  margin-left: 10px;
}
.fa {
  margin-right: 2px;
}

/*--CONTACT US--*/

.bigicon {
  font-size: 35px;
}

/*---SHOPPING CART--*/

.title_detail > h4 {
  font-size: 17pt;
}
.cart_navigation .button-exclusive {
    background: #232C35 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    margin: 0;
    padding: 13px 23px;
    float: left;
    border-radius: 0;
    display: block;
}
.cart_navigation i {
    font-size: 24px;
    top: 0;
    display: none;
    position: relative;
}
.cart_navigation .button-exclusive:hover {
  background: #ccc none repeat scroll 0 0;
}
.button-medium {
  background: none repeat scroll 0 0 #D7B635;
  box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.cart_navigation .button-exclusive i {
  margin-right: 8px;
}
.btn span i.fa-angle-right {
    margin-left: 9px;
    margin-right: 0;
	padding-bottom:6px;
}
.btn i.fa-angle-right {
    font-size: 25px;
    line-height: 25px;
    margin-left: 6px;
    vertical-align: -1px;
}

/*---LOGIN---*/

#create-account_form {
  min-height: 297px;
}
.box {
  line-height: 23px;
  margin: 0 0 16px;
  padding: 14px 18px 13px;
}
.page-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
  padding: 0 0 15px;
  text-transform: uppercase;
}

/*---TESTIMONIAL---*/

.testimonials blockquote:before {
  bottom: -10px;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
}
.testimonials blockquote:after {
  bottom: -8px;
  content: "";
  left: 50%;
  margin-left: -9px;
  position: absolute;
}
.testimonials blockquote {
  margin-bottom: 140px;
  margin-top: 20px;
  min-height: 220px;
  position: relative;
}
.testimonials blockquote p.clients-words {
  display: block;
  font-size: 14px;
  max-height: 80px;
  overflow: hidden;
}
.titletesti {
  margin-bottom: 13px;
  padding-bottom: 5px;
}
.testimonials span.clients-name {
  bottom: 10px;
  font-size: 14px;
  position: absolute;
  right: 10px;
  max-height:80px
}
.testimonials blockquote img {
  bottom: -115px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}
.hide {overflow:hidden;display:block !important}
.testimonials_detail .clients-name {
  font-size: 17pt;
}
.testimonials_detail .img-thumbnail {
  width: 180px;
  margin-bottom: 10px;
}

/*---GALLERY---*/

.content-photo {
  margin-bottom: 30px;
}

/*---AGENDA---*/

.agenda .lokasievent, .agenda .kotaevent {
  display: inline-block;
}
.agenda .tglevent {
  margin: 2px 0 3px;
  padding-bottom: 4px;
}

/*---AGENDA DETAIL---*/

.agenda_detail .lokasievent, .agenda_detail .kotaevent, .agenda_detail .tglevent {
  display: inline-block;
}

@media (min-width:0px){ 
div#namatesti {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14pt;
}
form#confirm_payment td {
    padding: 3px 20px 3px 0;
}
.menu-banner img{width:100%;}
span.glyphicon.glyphicon-time {
    margin-right: 5px;
}
.date_news {
    margin-bottom: 10px;
}
.page-thumbnail-agenda .more {
    margin-top: 14px;
}
.title-agenda-thumbnail h3 {
    font-size: 15pt;
    font-weight: bold;
}
td.cart_unit{text-align:center}
td.cart_unit *, td.cart_total {
    font-size: 13pt;
    font-weight: bold;
}
tr.cart_total_price {
    font-weight: bold;
    font-size: 13pt;
}
p.cart_navigation > *:nth-child(2), p.cart_navigation > *:nth-child(1) {
    display: none;
}
.cart_description p.product-name {
    text-align: center;
    font-size: 15pt;
}
.row.cart-payment-info {
    margin-bottom: 30px;
}
.product_attributes label {
    width: auto;
    display: block;
    clear: both;
}
.qty-trigger i {
    line-height: 35px;
    margin: 0;
}
span.lblcart_quantity_input{text-align:center;}
.qty-trigger {
    background: #ddd;
    width: 35px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #333;
    text-align: center;
    vertical-align: middle;
}
div#formnamakomentar {
    width: 370px;
    max-width: 100%;
    background: #eee;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: 5px solid #847350;
    margin: 0 auto;
}
div#formnamakomentar input[type="text"] {
    width: 100%;
}
ul.testimonial > li {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 30px 20px;
    margin-top: 40px;
    position: relative;
}
ul.testimonial {
    margin: 0;
    padding: 0;
    list-style: none;
}
.testiname {
    font-weight: bold;
    font-size: 14pt;
    top: -22px;
    background: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: -60px;
    padding: 0 10px;
    left: -10px;
}
.pagination.pagination-small ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination.pagination-small ul a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    position: relative;
    display: block;
    padding: 8px 12px;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination.pagination-small ul a:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.pagination.pagination-small ul li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.therapist:after{content:"";
display:block;clear:both;position:relative}
.therapist {
    margin: 0 -15px;
}
.therapist .grid-column {
    width: 100%;
	padding:0 15px;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
.therapist .grid-column img.photos {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
}
.therapist .grid-column span.list-nama {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.therapist .grid-column span.list-alamat {
    color: #888;
}
.youtubevideo> a.popup-youtube {
    position: relative;
    display: block;
    overflow: hidden;
}
.youtubevideo> a.popup-youtube i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50pt;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
}
span.title-video {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #666;
}
.youtubevideo> a.popup-youtube:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.youtubevideo> a.popup-youtube img {
    position: absolute;
    min-height: 100%;
    top: 0;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.price span.reduction {    display: none;}.shop-content-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.cart-kupon .more {
    margin: 0;
    padding: 7px 15px;
}
.cart-kupon {
    text-align: right;
	display:none;
    padding: 8px;
} 
.cart_product img {
    height: 100px;
    width: auto;
    max-width: none !important;
}
.product-col .form_beli {
    display: none;
}
.shop-content-item #sync2{margin-top:10px;text-align:center}
.shop-content-item .owl-buttons {
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
}
#sync2.owl-carousel .owl-item {
    float: none;
    display: inline-block;
}
#sync2 .owl-wrapper {
    width: 100% !important;
}
#sync2 .item img {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}
.shop-content-item .owl-theme .owl-controls .owl-buttons div {
    margin: 0;
    background-color: #eee;
    height: 60px;
    width: 40px;
    position: relative;
    top: -30px;
}
div#sync1 {
    border: 1px solid #dcdcdc;
    padding: 8px;
    border-radius: 5px;
}
.form_beli{
    margin-top: 14px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
form.form_beli button.btn.btn-cart i{display:none}
form.form_beli button.btn.btn-cart {
    background: #171717;
    border: medium none;
    color: #fff;
    width: auto;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    height: auto;
    padding: 9px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.footerlink * {
    color: #fff;
}
div#description_product {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerlink img {
    /* max-width: 21px; */
    /* vertical-align: top; */
    /* display: inline-block; */
	/* margin-right:2px; */
}
.footerlink ul.list-inline {
    margin: 0px 0 -2px;
}
.cart > span ,.cart > i {
    float: left;
}
.header-right .login-menu > li > a.cart:after {
    content: "";
    display: block;
    clear: both;
}
.cart > span {
    padding: 1px 5px 0 0;
}
.fb_iframe_widget span {vertical-align: middle !important;}
.page-header {
    background: transparent none repeat scroll 0px 0px;
    border-bottom: 4px double #171717;
    box-shadow: 0px 12px 8px -16px #999;
    -ms-box-shadow: 0px 12px 8px -16px #999;
    -moz-box-shadow: 0px 12px 8px -16px #999;
    -webkit-box-shadow: 0px 12px 8px -16px #999;
    -o-box-shadow: 0px 12px 8px -16px #999;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22pt;
    font-weight: bold;
    height: auto;
    margin: 0px auto 32px;
    padding: 2px 0 19px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.fb-like {
    margin-left: 4px;
}
.social-header a {
    display: inline-block;
    vertical-align: top;
}
.fb_iframe_widget_fluid {
    display: inline-block;
}
div#notes.product_attributes {
    margin-top: 5px;
	display:block;
    margin-right: 0;
}
select#sUkuran {
    /*margin: 10px 0;*/
}
.nav.navbar-nav > li.col-sm-3 {
    display: none;
}
nav#megamenu {
    background: #171717;
    border-radius: 0;
    border: none;
    min-height: initial;
}
.login-menu {
    padding: 0;
    list-style: none;
	float:right;
}
.social-header {
    float: left;
	margin:-3px 11px 0;
}
.social-header img {
    max-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
}
.login-menu > li {
    display: inline-block;
    vertical-align: middle;
}
.dropdown-right ul.dropdown-menu {
    right: 0;
    left: 6px;
    margin-top: 0;
    border: none;
    min-width: 190px;
    border-radius: 0;
    border-top: 3px solid;
    background: #eee;
    padding-top: 5px;
    padding-bottom: 7px;
}
.widgetcontent {
  text-align: center;
}
.icon-product .reduction {
  background: url("images/pro.png") no-repeat scroll 100% center / 80% auto rgba(0, 0, 0, 0);
  bottom: 14px;
  color: transparent;
  float: right;
  height: 30px;
  margin-right: -3px;
  margin-top: 20px;
  width: 84px;
}
.navbar-header {
    float: left;
    text-align: center;
}
.owl-buttons {
  background: transparent;
  position: absolute;
  right: 16px;
  top: -48px;
}
.services .fa-stack {
  float: left;
}
.service-item {
    padding: 57px 0 50px;
}
.service-item .more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: 100%;
    margin-top: -26px;
}
.header1{
	height:auto;
	border:none;
}
.navbar-inverse .navbar-nav > li > a {
  margin-right: 0;
  padding: 11px 18px;
}
.navbar-collapse.collapse.in,.navbar-collapse.collapsing {
    border: medium none;
	z-index:1;
    padding: 0px !important;
    position: absolute;
    width: 100%;
	top:100%;
}
}
@media (min-width:768px){
#button-mobile,#bs-example-navbar-collapse-3{display:none !important}
div#bs-example-navbar-collapse-1 li.dropdown.menu-large {
    display: none;
}
p.cart_navigation span {
    width: auto;
}
div#bs-example-navbar-collapse-1 {
    float: none;
    clear: both;
    margin-bottom: 15px;
    text-align: center;
    padding: 0;
    width: 100%;
    position: relative;
	z-index:100;
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
    margin-top: 0;
    float: none;
    position: relative;
    vertical-align: middle;
}
}
@media (max-width:767px){body #tawkchat-container{    bottom: 40px !important;    right: -10px !important;}
.block-login {
    float: left;
}
.therapist .grid-column img.photos {
    max-width: 200px;
}
.table-default.menu-banner td:nth-child(2), .table-default.menu-banner td:nth-child(4) {
    display: none;
}
.menu-banner td:nth-child(3),.menu-banner td:nth-child(5){width:50% !important;float:left;padding-top:5px}
form#form_beli14 {
    padding-top: 10px;
}
.right-column-line {
    margin-top: 20px;
}
.fb-like {
    margin-left: 4px;
    display: inline-block !important;
    margin-bottom: -17px;
    z-index: 2;
}
.slider{margin:0px auto 0px}
.header-right .login-menu > li > a.cart:after {
    clear: none;
}
/* .cart > span { */
  /* padding: 1px 5px 0 0; */
/* } */
.login-menu > li{vertical-align:top}
.nomobile-display{display:none !important}
.thumbnail-product > div:nth-child(2n+1){clear:both}
.header-right .login-menu > li > a.cart {
    /* padding-right: 4px; */
	/* margin-right:-4px; */
    /* padding-left: 0px; */
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
    margin: 0;
    position: relative;
    width: 100%;
}
}
.carousel-inner .item img {
  display: inline-block;
}
.first_item, .item {
    text-align: center !important;
    margin: 0;
}
}
@media (max-width: 360px){
.owl-buttons {
display: none;
}
.navbar-brand {
  display: block;
  float: left;
  margin: 0;
}
}
@media (width: 1024px){
.sold_out {
  background: url("images/sold-out.png") no-repeat scroll -2px 0 / 70% auto transparent !important;
  height: 105px;
  margin: -3px 0 -3px 0px;
  width: 126px;
}
.form-horizontal .btn.btn-default.more {
  width: auto;
  margin-left: 10px;
}
}
@media (max-width:767px){
.dropdown-right ul.dropdown-menu {
    top: 100% !important;
    margin-top: 0px;
}
.top-header {
    margin: 5px 0 15px;
}
/* #bs-example-navbar-collapse-1 .nav.navbar-nav li:last-child{display:none} */
#content .content-wrapper > .row{
  padding: 0 15px;
}
#content .content-wrapper:nth-child(2n){
  background: #f0f0f0  none repeat scroll 0 0 !important;
}
}
#content .content-wrapper{
  background: #fff none repeat scroll 0 0;
  overflow:hidden;
  padding:70px 0;
}
#content .content-wrapper:nth-child(2n) {
    background: #E8E3D0 none repeat scroll 0px 0px;
}
.block-login ul {
    margin: 0;
}
@media (min-width:768px){
a#webmember_login {
    margin-left: 20px;
}
	.block-login {
    display:none !important;
}
div#search-icon {
    display: none;
}
.nav.navbar-nav {
    margin-top: 12px;
}
.dropdown-menu {
  border-radius: 0 !important;
  padding: 0;
  box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -ms-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -moz-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -webkit-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
}
.header-right .dropdown-menu > li > a {padding:3px 20px}
.dropdown-menu > li > a {
  padding: 12px 15px;
}
.navbar-nav > li {
    /* float: none !important; */
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.owl-buttons {
  position: absolute;
  right: 16px;
  top: -88px;
}
#nav::before {
  background: rgba(0, 0, 0, 0) linear-gradient(white, #f3f3f3) repeat scroll 0 0;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  content: "";
  height: 38px;
  position: absolute;
  top: 119px;
  width: 100%;
}
.owl-buttons {
  background: transparent none repeat scroll 0 0;
  margin-right: -66px;
  position: relative;
  right: 16px;
}
#megamenu.header1 .nav.navbar-nav {
    margin-top: 0;
}
.header1 .nav.navbar-nav{
	margin-top:62px;
}
.header1 {
    height: auto;
    border: none;
    background: #000;
    border-radius: 0;
}
.navbar-nav > li {
  display: inline-block;
}
.navbar-inverse .navbar-nav > li > a {
  background: transparent none repeat scroll 0 0;
  color: rgb(202,174,88);
  height: auto;
}
.navbar-inverse .navbar-nav > li > a:before {
  border-radius: 4px;
  content: "";
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100% + 4px);
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    border: medium none;
    padding: 0;
    position: relative;
    width: auto;
}
}
.page-header {
    border: none;
    font-size: 22pt;
    padding: 0px 0 19px;
    margin: 0px 0 20px;
    border-bottom: 4px solid #847350;
}

/*======LOGO========*/

/*=====SLIDE====*/

.carousel-indicators li:hover,.carousel-indicators .active {
    height: 12px;
	margin: 1px;
    width: 12px;
}
.carousel-indicators li {
	border:none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    width: 12px;
}

/*=======MENU========*/

.header1 a{
}
@media (max-width:767px){
div#searchproduct.active {
    display: block;
    top: 100%;
    width: 100%;
	margin-top:-6px;
    background: #fff;
    left: 0;
	box-shadow:0 7px 17px -7px  rgba(0, 0, 0, 0.2);
	-ms-box-shadow:0 7px 17px -7px  rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 7px 17px -7px  rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 7px 17px -7px  rgba(0, 0, 0, 0.2);
	-o-box-shadow:0 7px 17px -7px  rgba(0, 0, 0, 0.2);
    padding: 11px 15px;
	text-align:left;
}
div#searchproduct {
    position: absolute;
    z-index: 4;
}
footer td {
    padding-bottom: 10px;
	text-align:left;
    padding-top: 10px;
}
.navbar-nav .menu-large.open .dropdown-menu{
    background: #d4c394 !important;
}
li.dropdown.menu-large > a {
    background: #171717 !important;
    color: #fff !important;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 5px 5px;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    font-weight: normal;
	background:#fff;
    color: #171717;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #171717 !important;
    color: #fff !important;
    outline: medium none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #171717;
}
}
.navbar-inverse .top-menu.navbar-nav > li > a {font-size:15px;}
.fa-shopping-cart {
    font-size: 15pt;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
	font-weight: normal;
}
.navbar-inverse .navbar-nav  li  a {
    transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}
.navbar-nav > li .dropdown-menu {
  background: #171717 none repeat scroll 0 0 !important;
  border: 0 none;
  border-radius: 0;
  color: #333333 !important;
  font-size: 15px;
  left: 0;
  min-width: 190px;
  top: auto;
  animation: fadeInUp 600ms;
}
.navbar-nav > li .dropdown-menu.menu-standart {
    width: auto;
    left: auto;
    padding: 5px 0;
    min-width: 230px;
}
.dropdown-header{padding:3px 7px}
.navbar-nav > li .dropdown-menu.menu-standart.dropdown-menu > li{width:100%;float:none}

/*==========ICON BIG===========*/
@media (min-width:321px){
.container .center {
    text-align: center;
    padding-bottom: 33px;
}
}
#services h3{margin:20px 0}
@media (max-width:320px){
.container .center {
    text-align: center;
    padding-bottom: 33px;
    margin: 20px 0px;
}
}
#services * {
    color: #171717 !important;
    font-weight: normal;
    line-height: 1.6;
}
div#services {
    font-size: 15pt;
}
#services {
    position: relative;
	border-top:15px solid #977837;
    color: #171717;
    display: block;
}
/*=========PRODUCT===========*/

.product-col {
    padding: 0 0 10px;
	margin-bottom:20px;
	text-align:center;
	position:relative;
}
.product-col .cart-button.button-group {
    display: none;
}
.product-col .caption {
    margin-top: 0px;
    padding: 0 15px 10px;
    text-align: left;
    position: relative;
    width: 100%;
    top: 0;
}
.title-product > h4 {
    color: #000;
    margin: 0;
}
.title-product {
    background: transparent none repeat scroll 0 0;
    display: block;
    height: auto;
    margin: 0px 0 5px;
    width: auto;
}
.caption .brand {
    margin-top: 5px;
}
.caption .brand a,.brand-name a {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 14px !important;
    text-align: center;
}
.brand-name a{text-align:left}
.panel-default {
    border-color: none;
	margin-bottom:30px;
}
.thumbnial-product {
    text-align: center;
}
.title-product a:hover{
	text-decoration:none;
}
.product-col .price {
  display: block;
  text-align:center;
  float: none;
  padding:0;
}
.price-now {
    font-size: 15px;
    padding-right: 0;
    font-weight: bold;
}
.product-col .price span.price-old {display:block;}
.price-old {
  font-size: 14px;
  text-decoration: line-through;
}
.product-col {
  background: transparent none repeat scroll 0 0;
  padding: 0;
}
.image-product a:before {
    content: "";
	display:block;
    width: 100%;
    padding-top: 100%;
}
.image-product {
    background: transparent none repeat scroll 0 0;
	position:relative;
    display: block;
    text-align: center;
	margin-top:5px;
    width: 100%;
}
/*.image-product:before {
    content: "";
    border-top: 17px solid #FCFCFC;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: absolute;
	z-index:2;
    right: 10px;
}*/
.image-product a img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.image-product a {
    display: block;
    position: relative;
	overflow:hidden;
}
.image-product img,body{    
	-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;}
.btn.btn-cart {
    background: url("images/cart.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
	height: 35px;
    width: 35px;
    border-radius: 50%;
}

/*=========PRODUCT DETAIL==========*/

.pb-left-column #image-block {
  padding: 5px;
  position: relative;
}
.product_attributes #quantity_wanted {
    width: 60px;
    position: relative;
    left: 0;
    padding-right: 5px;
}
.cart_unit .reduction,.pb-right-column .reduction {
  display: inline-block;
  float: none;
  margin-left: 0px;
  margin-top: 0;
  position: relative;
}
.cart-button.button-group {
    position: absolute;
    bottom: -5px;
    right: 10px;
}
.pb-right-column .cart-button.button-group {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    right: 0;
    display: inline-block;
    vertical-align: bottom;
}
.right-column-line {
    border: 7px solid #eee;
    padding: 14px;
    border-radius: 5px;
}
.table tbody > tr > td {
  vertical-align: middle;
}
.cart_quantity {
  width: 150px;
}
.cart_total {
  width: 110px;
}

/*========THUMBNAIL NEWWS========*/

.title-news-thumbnail {
    margin-top: 15px;
}
p.add_testi_button {
    float: right;
}
.testicomment {
    margin-bottom: 20px;
}
.testicomment p {
    margin-bottom: 18px;
}

.cart_description p.product-name a {
    color: #000;
}
/* .more { */
  /* margin-bottom: 5px; */
  /* background: #171717 none repeat scroll 0% 0%; */
  /* color: #FFF; */
  /* padding: 13px 23px; */
  /* width:auto; */
  /* box-shadow:none; */
  /* -ms-box-shadow:none; */
  /* -moz-box-shadow:none; */
  /* -webkit-box-shadow:none; */
/* } */
div#data-penerima > a {
    margin-bottom: 15px !important;
    margin-top: 10px !important;
    display: inline-block;
}
div#data-penerima > a:hover{text-decoration:none}
.more, div#data-penerima > a {
    margin-bottom: 5px;
    background: #171717;
    color: #FFF;
    font-size: 11pt;
    padding: 8px 23px;
    width: auto;
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
}
div#data-penerima > a{padding:5px 10px;margin:0 0 30px !important;}
.cart-payment-info img {
    display: block;
    height: 50px;
    margin-bottom: -10px;
}
.container .center a:hover{
    background: #393939;
    color: #FFF;
	text-decoration: none !important;
}
.content-news-thumbnail {
    margin-bottom: 15px;
}

/*=======widget=======*/

#left *{max-width:100%}
.well {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 0;
  margin-bottom: 51px;
  min-height: 20px;
  padding: 5px 15px 17px;
  position: relative;
}
.widgettitle, .widgettitle, .widgettitle, .widgettitle {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 5px;
  text-align: center;
}
.col-md-3.widget-right.col-md-pull-9.widget-right {
  top: 32px;
}
.container .widget-right input[type="text"] {
    border-radius: 3px;
    max-width: 100%;
    padding: 6px 12px;
	width: 100%;
}
.container .widget-right .search input.form-control {
	padding-right: 35px;
}
.input-group {
	display:block;
    position: relative;
}
.widget-right input.form-control {
    display: block;
    float: none;
    width: 100%;
}
.widget-right .input-group-btn {
    display: block;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 26px;
    z-index: 2;
}
.widget-right .btn.btn-default {
    border: medium none;
    border-radius: 50%;
    font-size: 10pt;
    font-weight: normal;
    padding: 4px 7px;
}
#order_email, #order_orderid {
    margin: 4px 0;
}
.container .widget-right input[type="submit"] {
    text-align:center;
	font-size: 10pt;
    margin-top: 6px;
    padding: 6px 14px;
    width: 100%;
}

/*==========FOOTER========*/

footer ul{
	padding:0;
}
footer .list-inline li {
    list-style: none;
    padding-right: 40px;
    padding-left: 40px;
}
footer .col-md-3:last-child{
	text-align:center;
}
.footerlink {
  padding: 35px 0 20px;
}
.footerlink td {
    padding-bottom: 10px;
}
.footerlink table {
    margin-right: auto;

    display: inline-block;
    margin-bottom: -5px;
}
.copyright {
  background: #fff none repeat scroll 0 0;
  min-height: 0;
  position: relative;
  vertical-align: middle;
}
.copyright p {
	font-size:10pt;
    margin: 0;
    text-align: center;
	padding: 10px 0;
}
.social > li {
    margin: 4px 3px;
}
.social a i {
    font-size: 12pt;
    padding: 0;
    width: 9px;
    color: #000;
}

/*.multi-level .caret{display:none}*/

li .down {
    position: relative;
}
li .down>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
li .down:hover>.dropdown-menu {
    display: block;
}
li .down>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.navbar-brand{height:auto;}

@media (max-width:768px){
label[for="message"] ~ input {
    width: 150px !important;
}
.nav > li {
  padding: 0;
}
.owl-buttons {
  margin: 0 -11px;
  position: relative;
  right: 0 !important;
  top: -336px;
}
.yahoomsgr {
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}
.navbar-brand {
margin-top: 0px;
}
.service-item {
  overflow:hidden;
}
}

@media (min-width:0px){
	ul.list-product {
    padding: 0;
    margin: 0 -5px;
    list-style: none;
}
ul.list-product > li > a:hover {
	text-decoration:none;
	background:#eee;
}
ul.list-product > li > a {
    display: block;
    min-height: 22px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin: -10px;
    padding: 10px;
    color: #000;
}
ul.list-product > li {
    border: 1px solid #ccc;
    float: left;
    margin: 0 5px 10px;
    /* min-height: 125px; */
    padding: 10px;
    width: calc(20% - 10px);
}
#megamenu.navbar-inverse .navbar-nav > li > a{color:#fff}

.widgetcontent .owl-item a {
  text-align: center;
}
.widgetcontent .owl-item a img {
  display: inline;
}
.widgetcontent > ul {
  text-align: left;
}
.widgetcontent table {
  text-align: left;
}
.best > span {
  /* display: none; */
  padding:0 !important
}
.navbar-inverse .navbar-toggle .icon-bar {
    border-radius: 0;
    height: 3px;
    margin: 0 auto;
    width: 25px;
	background:#c9ad57 !important; 
}
.top-header:after {
    content: "";
    display: block;
    position: relative;
    clear: both;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.carousel-control {
  height: 40px;
  opacity: 1;
  top: 50%;
  width: 40px;
  margin-top: -20px;
}
.left-carousel{
	left:10px;
}
.right-carousel{
	right:10px;
	left:auto;
}
.left-carousel:hover,.right-carousel:hover {
	background-position:0 -41px;
}
.carousel-indicators{bottom:-5px;}
.product-col {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	overflow:hidden;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: none repeat scroll 0 0 #FCFCFC;
}
.image-product .img-responsive {
  background: none repeat scroll 0 0 #e6e8e7;
  border-radius:0 0 5px 5px;
  width: 100%;
}
.panel.panel-default.news-col {
  margin: 0 auto 20px;
  padding: 0 10px 5x;
  width: 240px;
}
.news-col .img-news {
  border-radius: 0;
  padding: 0;
  margin: 0 5px;
}
.news-col {
    border-radius: 0;
	border:0;
}
.news-col .panel-body {
    border: 0 none;
    padding: 0 ;
}
.news-content {
  padding-bottom: 10px;
}
.footerlink {
    display: block;
}
}
.footerlink .row > div:nth-child(3) {
    text-align: right !important;
}
.col-sm-3.col-md-6 {
    margin-bottom: 62px;
}
@media (max-width:767px){

input#keyword {
    border-radius: 0;
    border-color: #171717;
    background: #fafafa;
    width: calc(100% - 30px);
    margin: 0 !important;
    display: block !important;
    padding: 8px 12px;
}
button.searchubmit {
    position: absolute;
	display:none;
    right: 0;
    top: 0;
    background: #171717;
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0;
    color: #fff;
    border: 1px solid #171717;
}
body{padding-bottom:58px;}
body.mobile-display{padding-bottom:40px;}
.slider.container {
    padding: 0;
}
.footerlink{text-align:center !important}
.footerlink table {
    display: inline-block;
}
	ul.nav.navbar-nav {
  box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -ms-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -moz-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -webkit-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  -o-box-shadow: 0 0 6px rgba(15, 12, 6, 0.4);
  margin-bottom: 10px !important;
  padding-bottom: 10px;
}
.social-header {
    float: right;
	margin-top:0px;
    position: relative;
}
.navbar-inverse .navbar-brand {
    max-width: none;
    padding: 10px 0 10px 0;
    max-width: 100%;
    float: none;
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin: 0;
}
#slide-home .owl-buttons {
  display: none;
}
.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  font-size: 15px;
  margin: 2px 0 0;
  padding: 0;
}
.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
    height: 3px !important;
}
.navbar-header {
    padding: 0px 15px;
    float: none;
    text-align: center;
    position: relative;
    width: auto;
    clear: both;
    margin: 5px 0px 10px;
}
.navbar-brand {
  display: block;
  float: left;
  margin-left:-10px;
  padding-right: 0;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
    background: #232C35 !important;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
    background: transparent !important;
    /* border: 2px solid #FFF; */
    border-radius: 3px;
    float: right;
    padding: 9px;
    width: auto;
    position: relative;
    bottom: 0px;
    right: 0px;
    margin: 0;
}
.gallery_carousel .owl-carousel,.product_carousel .owl-carousel {
  margin-top: 49px;
}
.media-left, .media-right, .media-body {
  display: block;
  vertical-align: top;
}
}
}
@media (min-width:768px){
.content-wrapper .col-lg-12 .page-header {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin: 8px auto 20px;
  text-align: center;
  width: 85%;
}
.content-wrapper {
  background: #fff none repeat scroll 0 0;
  margin: 23px 0 -50px;
  padding: 0 26px;
}
.collapse.navbar-collapse.top-menu {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #cccccc;
}
.yahoomsgr {
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
  font-family: 'Open Sans', sans-serif;
  height: auto;
  margin: 0;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 6px;
}
.footerlink {
  text-align: left;
  display: none;
}
.panel.panel-default.news-col {
  width: auto;
}
.news-col .img-news {
  margin:0;
  padding:0 0px 0 15px;
}
.news-col {
  
}
.img-news img {
 width:auto; 
}
.news-content {
  padding-bottom: 0px;
}
}
@media (min-width:992px){
.therapist .grid-column:nth-child(4n+1) {clear:none}
.therapist .grid-column:nth-child(5n+1) {clear:both}
.therapist .grid-column {
	width: 20% !important;
}
.thumbnail-product > div:nth-child(3n+1) {
    clear: none;
}
.thumbnail-product > div:nth-child(4n+1) {
    clear: both;
}
.footerlink address br {
    display: none;
}
input#keyword {
    border-radius: 0;
    width: 270px;
    background: #fafafa;
}
.thumbnail-product > div {
    width: 25%;
}
.dropdown-submenu:hover > ul,.dropdown-submenu:focus > ul{
  display:block;
}
.navbar-nav > li .dropdown-menu > li > ul:before {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 20px;
  left: -7px;
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar-nav > li .dropdown-menu > li > ul {
  left: calc(100% + 3px);
  margin: 0;
  top: 0;
}
.navbar-nav > li .dropdown-menu > li {
    margin: 0;
    padding: 0px;
    position: relative;
}
.carousel-control{
	height:74px;
	width:74px;
	top:42%;
	opacity:1;
}
.left-carousel{
	left:70px;
}
.left-carousel:hover{
	background-position:0 -75px;
}
.right-carousel{
	right:70px;
	left:auto;
}
.right-carousel:hover {
	background-position:0 -74px;
}
}

/*---ICON PRODUCT---*/

.icon-product {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 1;
    text-align: center;
}
.title-product.title_detail {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
}
.new:before {content:"New"}
.new, .best {
    float: right;
    height: 45px;
    margin: 0;
    padding: 13px 0 !important;
    width: 45px;
	clear:both;
    color: #fff;
    background: #f70e0e;
    border-radius: 50%;
    text-transform: uppercase;
}
.best{background:#f90}
/*.new:before {
  content: "new";
  left: 4px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
.new {
  border-radius: 50%;
  float: right;
  height: 40px;
  margin-top: 5px;
  position: relative;
  right: 5px;
  width: 40px;
}*/
.buy:before {
  content: "buy";
  left: 4px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
.buy {
  border-radius: 50%;
  float: right;
  height: 40px;
  margin-top: 5px;
  position: relative;
  right: 5px;
  width: 40px;
}
.sold_out {
    background: url(images/soldout.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-top: 146px;
}
/*.sold_out {
  height: 90px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 70px;
}
.sold_out:before {
  content: "sold out";
  display: block;
  font-size: 14pt;
  font-weight: bold;
  margin-top: -20px;
  position: relative;
  text-transform: uppercase;
  top: 50%;
}
.sold_out > span {
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.sold_out > span:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}
.sold_out > span:after {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}*/
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
.widget-right > .row > div:nth-child(2n+1) {
  clear: both;
}
#nav {
  background: url("images/background.png") repeat scroll 0 0 transparent;
  border-radius: 0;
}
#background-header{
  background-color:transparent;
  background-image:url("http://superisse.com/template/zeze/css/basic/images/bottom-menu.png");
}
@media (min-width:768px){
div#formnamakomentar{width:700px}
div#formnamakomentar form > p:nth-child(2) {
    width: 50%;
    float: left;
    padding-right: 10px;
}
div#formnamakomentar form > p:nth-child(3) {
    float: left;
    width: 50%;
    padding-left: 10px;
}
div#formnamakomentar form > p:nth-child(4) {
    clear: both;
}
div#formnamakomentar form textarea {
    width: 100%;
    height: 270px;
}
label[for="message"] ~ input {
    width: 160px !important;
}
.navbar-header {
    float: none;
    position: relative;
    left: 0;
    text-align: center;
}
.navbar-header {
    float: none;
    position: relative;
    left: 0;
    text-align: center;
}
.header1 .container{position:relative;}
}
.list-collection p {
    margin: 10px 0;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: #000;
}
@media (max-width:767px){
div#close-search-icon {
    font-size: 20pt;
    position: absolute;
    top: 8px;
    right: 10px;
}
div#searchproduct {
    display: none;
}
#content .content-wrapper{padding:50px 0 !important}
}
.table-bordered {
  border: 1px solid #cccccc!important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #cccccc!important;
}
.navbar-nav .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #eee;
    color: #171717 !important;
    text-decoration: none;
    outline: none;
    border-left: transparent !important;
}
 .cart_item .price-now {
  color: #000;
}
.cart_item .price-old {
  color: #000;
}
.pb-right-column .price-old {
  color: #e1001a;
}
.pb-right-column .price-now {
    margin: -4px 10px 0 0;
    display: inline-block;
    font-size: 18pt;
    vertical-align: middle;
}
.pb-right-column hr {
    margin-top: 0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: #003 !important;
}
input, button, select, textarea {
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 6px 12px;
}
input[type="checkbox"] {
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    position: relative;
    top: 1px;
    margin-left: 4px;
}
a.link_kembali {
    margin-right: 13px;
}
#slide-home .item > img {
  width: 100%;
  margin: 0 auto;
}
.navbar-nav > li > a {
  text-decoration: none;
  text-transform: uppercase;
}
.col-md-3.widget-right {
  margin: 20px 0 0;
}
.form-group .more.button-exclusive.btn.btn-default {
  width: auto;
}
#catalogproductwidget a{
	color: #D6B73E;
}
#catalogproductwidget a:hover{
	color: #000;
}
.well #catalogwidget > li a{
	color: #D6B73E;
}
.well #catalogwidget > li:hover a{
	color: #000;
}
.button-link {
    text-decoration:  none;
    padding: 5px 10px 5px 10px;
    background: #4479BA;
    color: #FFF;
}
.content-wrapper .owl-item {
  padding: 0 5px;
}
.list-inline{
    list-style: none !important;
}
.header-left img{
    width: 33px;
}
.header-left img:hover {
    opacity: 0.6;
}
@media (min-width:768px){
#close-search-icon {display:none}
.header-left {
    padding: 18px 0px;
    position: absolute;
    left: 78px;
}
.header-right {
    position: absolute;
    right: 15px;
	z-index:99;
    top: 0;
    margin-top: 22px;
    margin-bottom: 0px;
}
.social-header table{margin:0 auto}}
.social-header {
    position: relative;
    left: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    margin: 0 0 35px;
    width: 100%;
    float: none;
}
.header-right a:hover {color:#171717;text-decoration:none}
.header-right .login-menu > li > a {
    color: #fff;
    margin-right: -4px;
    font-size: 14px;
    padding: 0 12px 0 10px;
    position: relative;
	text-transform:uppercase;
    display: block;
}
}
.header-right .login-menu > li:last-child > a:after {
    content: "";
    background: #fff none repeat scroll 0% 0%;
    margin-left: 0;
    padding: 0 0.5px;
    position: absolute;
    left: -1px;
    height: 100%;
    top: 0;
}
@media (max-width:767px){
nav#megamenu {
    display: none;
}
.header-left {
    padding: 0px;
    float: left;
    display: none;
}
.navbar-collapse {
    padding-right: 15px;
    overflow-x: visible;
    border-top: none !important;
    box-shadow: none !important;
    -ms-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}
.header-right a.cart:hover{
	background: #A90A0A;
	transition: all 0.3s ease-in-out 0s;
}
.header-right a:hover {
    color: #fff;
}
/* .fa-shopping-cart { */
    /* font-size: 19pt; */
    /* vertical-align: top; */
    /* position: relative; */
    /* top: -3px; */
/* } */
/* .header-right .login-menu > li > a { */
    /* color: #171717; */
    /* font-size: 15px; */
    /* padding: 0 7px; */
    /* position: relative; */
/* } */
.header-right .login-menu > li:last-child > a {
    padding-right: 0;
}
.header-right span a{
    color: #000;
    padding: 5px;
}
.header-right span a:last-child{
    border-right: none;
    display: none;
}
}
.container .content-wrapper:nth-child(2n) {
    background-color: #f0f0f0 !important;
}
@media (min-width:992px){
.footerlink .container-nav{
    width: 100%;
    padding-top: 26px;
}
}
.footerlink .container-nav li a{
    color: #fff;
}
.footerlink .container-nav li a:hover{
    background: transparent;
    color: #fff;
}
.footerlink .nav > li > a {
    position: relative;
    display: block;
    padding: 0px !important;
}
.footerlink a:hover,.footerlink a:focus {
    color: #fff;
    text-decoration: underline;
}
.footerlink .navbar-nav > li .dropdown-menu {
    background: #232C35 !important;
}
.footerlink .dropdown-menu .dropdown-toggle:focus {
    background: transparent !important;
}
footer .menu a {
    font-size: 20px !important;
    margin-right: 20px;
    display: inline-block;
    margin-top: 6px;
}
footer .menu a:last-child {
    margin-right: 0;
}
.footerlink #right img {
    width: 44px;
}
@media (min-width: 1247px){
#right {
    float: right;
    margin-right: -5px;
    margin-top: -41px;
}
}
.footerlink .col-xs-7.col-sm-6.col-sm-offset-0.col-md-3.col-offset-0 {
    padding-bottom: 31px !important;
}
.content .col-md-12{
    background: #f0f0f0 !important;
}
}
.footerlink a{
    color: #fff !important;
}
.footerlink .col-md-4 p {
    padding: 8px 0px;
    border-bottom: none;
}
.content {
    padding: 50px 0px;
}
#services .service-item h4 strong {
    font-weight: 100;
    font-size: 39px;
}
@media (min-width:768px){
.content-wrapper > .row{width:750px;padding:0 15px;margin:auto}
}
@media (max-width:768){
.footerlink .navbar-bran img {
    max-height: 50px;
}
}
footer table p {
    margin: 0;
}
address {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}
footer .menu {
    text-align: left;
}
#popular-categories img {
    max-width: 100%;
    width: 100%;
}
@media (min-width:992px){
.footerlink #bs-example-navbar-collapse-1 .nav.navbar-nav {
    margin: 0px;
    position: absolute;
    width: 100%;
}
.content-wrapper > .row {
    width: 970px;
	margin:auto;
	padding:0 0;
}
}
@media (max-width:991px){
.jarak{display:none}
/*.slider.container {
    width: 100%;
    padding: 0;
}*/
/*div#bs-example-navbar-collapse-1{width:100%;}*/
.navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
    font-weight: normal;
    padding: 11px 9px;
}
.nav.navbar-nav > li {
    margin: 0 !important;
}
#popular-categories img{margin-bottom:30px}
.footerlink #bs-example-navbar-collapse-1 .nav.navbar-nav {
    margin: 0px -29px;
    position: absolute;
    width: 100%;
}
footer .menu a {
    font-size: 20px !important;
    display: block;
}
}
@media (max-width:767px){
.header-right {
    bottom: 0;
    width: 100%;
    left: 0;
    /* background: #fff; */
    margin-top: 9px;

    /*padding-bottom: 7px;
    margin-bottom: 10px;*/
	padding-bottom: 0px;
    margin-bottom: 0px;
}
.header-right:after {
    content: "";
    display: block;
    clear: both;
}
.nav.navbar-nav > li:last-child{display:none}
div#search-icon {
    position: absolute;
    right: 68px;
    padding: 5px 8px 8px;
    border: 1px solid #fff;
    bottom:16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    font-size: 13pt;
    border-radius: 2px;
}
.social-header table{margin:0 auto}
.social-header {
    float: none;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    left: 0;
    text-align: center;
}
/* .login-menu { */
    /* padding: 0; */
    /* list-style: none; */
    /* float: left; */
    /* position: relative; */
    /* right: 0; */
    /* clear: none; */
    /* margin-top: 2px; */
    /* margin-bottom: 0; */
/* } */
.header1{background:#000;padding-top:10px;}
.navbar-brand > img {
    margin: 0px 0 5px;
    max-height: 100%;
}
.social-header img {
    max-width: 40px;
    margin-left: 4px;
}
}
@media (max-width:767px){
.footerlink .row > div:nth-child(3) table:first-child td {
    display: block;
    text-align: center;
    margin-bottom: -30px;
}
.thumbnail-product > div {
    padding: 0 5px;
}
.footerlink #bs-example-navbar-collapse-1 .nav.navbar-nav {
    margin: 0px;
    position: relative;
    width: 100%;
}
.footerlink .row > div:nth-child(3) {
    text-align: center !important;
}
}
@media (max-width:991px){
.footerlink .nav.navbar-nav > li {
    margin: 10px 14px !important;
}
.navbar-bran img {
    margin:0px auto;
    display: block;
}
.footerlink h4 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}
}
@media (max-width:1199px){
.nav.navbar-nav > li {
    margin: 0;
}
#bs-example-navbar-collapse-2{padding:0}
}
@media (max-width:991px){
.footerlink .col-sm-12 {
    width: 100%;
}
.isihalaman table {
    width: 100% !important;
    height: auto !important;
}
}
@media (max-width:767px){
.isihalaman table, .isihalaman tr, .isihalaman td, .isihalaman tbody {
    display: block;
    width: 100% !important;
    padding: 0;
}
.isihalaman td{
    padding: 10px 0;
}
#content .owl-theme .owl-controls .owl-buttons div.owl-next{left:auto !important;right:0 !important;}
#content .owl-theme .owl-controls .owl-buttons div.owl-prev{right:auto !important;left:0 !important;}
.navbar-bran img {
    display: block;
    margin: 0 auto;
}
.table-default,.table-default tbody,.table-default tr,.table-default td{display:block;width:100% !important;}
}
@media (min-width:1200px){
.header1 .container {
    width: 1170px;
}
.thumbnail-product > div:nth-child(4n+1) {
    clear: none;
}
.thumbnail-product > div:nth-child(5n+1) {
    clear: both;
}
.login-menu {
    clear: none;
    margin-top: 0px;
}
.navbar-brand > img {
    max-height: 70px;
    margin-top: 15px;
    margin-bottom: 0;
}
.social-header img {
    max-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.thumbnail-product > div {
    width: 20%;
}
.container {
    width: 1060px;
}
.content-wrapper > .row {
    width: 1060px;
	margin:auto;
	padding:0;
}
}

.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media screen and (min-device-width: 768px) and (max-device-width: 991px) { 
.footerlink .row > div:nth-child(3) {
    text-align: center !important;
    width: 100%;
}
.footerlink .col-sm-3 {
    width: 50%;
    padding-left: 100px;
    margin-bottom: 30px;
}
.footerlink .col-sm-3 {
    width: 50%;
    padding-left: 100px;
    margin-bottom: 30px;
}
.navbar-brand > img {
    margin: 55px 0px 0;
    max-height: 30px;
}
.header-right .login-menu > li > a {
    /* color: #171717; */
    font-size: 16px;
    padding: 0 9px 0 7px;
    position: relative;
    margin-right: -4px;
}
.social-header {
    float: left;
    margin: -3px 6px 0 6px;
}
.header-right .login-menu > li > a.cart {
    padding: 0 7px;
}
.fb-like.nomobile-display {
    vertical-align: middle;
    padding: 5px 0 12px;
    display: inline-block;
}
.navbar-inverse #bs-example-navbar-collapse-1 .navbar-nav > li > a {
    font-size: 14px;
}
}