/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 0;
	text-align: center;
}
.owl-buttons {
    position: absolute;
    right: 0;
    width: 100%;
    height: 0;
    bottom: 30px;
    margin: 0;
    top: auto;
}
#slide-home .owl-buttons {
  position: static;
  right: 10px;
  top: -40px;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
  color: #fff;
  /* display: inline-block; */
  font-size: 0;
  margin: 0 3px;
  zoom: 1;
	*display: inline;/*IE7 life-saver */
  opacity: 1;
  width: 30px;
  height: 30px;
}
#slide-home .owl-buttons div {
    background-color: #BBB;
    background-position: center center;
    background-size: 29% auto;
    height: 60px;
    margin-top: -45px;
    opacity: 0.69;
    position: absolute;
    top: 50%;
    width: 60px;
    border-radius: 50%;
}
/*#slide-home .owl-buttons div {
  background-color: #bbb;
  background-size: 30% auto;
  height: 90px;
  position: absolute;
  top: 50%;
  width: 45px;
  background-position: center;
  margin-top: -45px;
}*/
#slide-home .owl-next {
  background: url("images/right.png") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
  right: 30px;
}
#slide-home .owl-next:hover {
  background: url("images/right.png") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
  right: 30px;
  background-color: #cccccc;
  background-size: 30% auto;
  background-position: center;
}
#slide-home .owl-prev {
  left: 30px;
  background: url(images/left.png) no-repeat scroll 0 0;
}
#slide-home .owl-prev:hover {
  background: url("images/left.png") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
  right: 30px;
  background-color: #cccccc;
  background-size: 30% auto;
  background-position: center;
}
.owl-prev {
  background:transparent url("images/left-arrow.png") no-repeat scroll center center;
  float:left;
}
.owl-next {
  background:transparent url("images/right-arrow.png") no-repeat scroll center center;
  float:right;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}