input[type="text"]:focus,.form-control:focus{
	border-color:#666;
}
@media (min-width:0px){
.shadow-left {
  background:url("images/kr-slide.png") repeat-y scroll 0 0 / 100% auto transparent;
}
.shadow-right {
  background:url("images/kn-slide.png") repeat-y scroll 0 0 / 100% auto transparent;
}
.header1 {
  background: #fff none repeat scroll 0 0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #222B32 !important;
  color: #fff;
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
}
}
@media (min-width:768px){
.navbar-inverse .navbar-nav > li > a:hover{
 background:#cccccc!important;
 height: 50px;
}
.navbar-inverse .navbar-nav > li > a {
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: transparent !important;
  color: #d7b635;
  height: auto;
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
    background: none repeat scroll 0 0 transparent;
}
}

/*======LOGO========*/
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover {color:#037A64;}
/*=====SLIDE====*/
.carousel-indicators li:hover,.carousel-indicators .active {
    background-color: #B84D61;
}
.carousel-indicators li {
    background-color: #dfdfdf;
}

/*=======MENU========*/
.header1 a{
	color:#fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/*==========ICON BIG===========*/
#services {
    background: #fff none repeat scroll 0px 0px;
}
.service-item p {
    color: #000;
    font-family: "Open Sans";
}
.service-item h4{
    color: #000;
}
.service-item i:first-child {
    color: transparent;
}
#services .text-primary {
  color: #555555;
}
/*=========PRODUCT===========*/
.product-col {
    background: none repeat scroll 0 0 #fff;
}
.product-col:hover{
}
.title-product a {
    color: #b39964;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title-product a:hover{
	color: #b39964;
}
.price-now {
    color: #000;
}
.price-old {
  color: #e1001a;
}
.btn.btn-cart {
  border: medium none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
  color: #fff;
  background-color: #777;
}
/*=========PRODUCT DETAIL==========*/
.product-info .title-product h2, .product-info .title-product h1.product-info .title-product h3 {
    color: #B84D61;
}

/*========THUMBNAIL NEWS========*/
.news-col .img-news,.news-col {
    border-color:transparent;
}
.news-col:hover {
}
.news-col:hover .img-news {
	border-color:#3C0058;
}
.more {
  background:#d7b635 none repeat scroll 0 0;
  border: 0px solid #fff;
  border-radius:0;
  color: #fff;
}
.more:hover{
	background:#222B32;
	color:#fff;
	border:0px solid #fff;
}
.title-news-thumbnail > h4 {
  margin: 0 0 7px;
}
.news-content .date_news {
  margin-bottom: 7px;
}

/*=======widget right=======*/
.well {
    background-color: transparent;
    box-shadow: none;
}
.widget-right .btn.btn-default {
  color: #3c0058;
  font-size: 12pt !important;
}
input[type="text"], .form-control {
    border: 1px solid #ccc;
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.container .widget-right input[type="submit"] {
  background: #d7b635 none repeat scroll 0 0;
  color: #fff;
}
.container .widget-right input[type="submit"]:hover {
	background:#cccccc;
	color:#444444;
}
.widgettitle > h4 {
  background: #fff none repeat scroll 0 0;
  color: #444444;
  font-family: "Raleway",sans-serif;
  font-size: 14pt;
  font-weight: 600;
  height: auto;
  margin: -5px 0 0 -15px;
  padding: 11px 14px 12px;
  width: calc(100% + 30px);
  border-bottom: 1px solid #cccccc;
}
/*==========FOOTER========*/
footer a{
	color:#fff;
}
.footerlink {
  background: #232C35 none repeat scroll 0 0;
  border-top: 5px solid #fff;
  color: #fff;
}
.footerlink h4 {
    color: #FFF;
    font-family: "open Sans";
}
address {
  color: #636363;
}
.copyright p {
  color: #003;
}
.copyright a {
  color: #A18623;
}
.copyright a:hover {
    color: #A18623;
	text-decoration:underline;
}
.social a i {
    background: none repeat scroll 0 0 transparent;
    border: 3px solid #fff;
}
.social a:hover i{
	background:#fff;
	color:#F4D08D;
}

footer a:hover {
    color: #fff;
}
a{
    color: #5a5a5a;
}
a:hover{
    color: #8f9190;
}
#eventwidget .judulevent {
  border-bottom: 1px dashed;
}
/*---NEWS---*/
.widgedconten .media {
  border-bottom: 1px dashed #B84D61;
}
/*---TESTIMONIAL---*/
.widgedconten .clients-name {
  border-bottom: 1px dashed #B84D61;
}
/*=======CONTENT=======*/

/*--PRODUCT--*/
.reduction {
  background: none repeat scroll 0 0 #446cb3;
  color: #fff;
}
/*--CONTACT US--*/
.bigicon {
  color: #B84D61;
}
/*---SHOPPING CART--*/
.testimonials_detail .clients-name{
  color:#3C0058;
}
.cart_navigation .button-exclusive {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  color: #333333;
}
.button-medium {
  background: none repeat scroll 0 0 #D7B635;
  border-color: #B84D61;
  color: #fff;
}
.btn.button-medium:hover{
  background:#ccc;
  color:#fff;
  border-color: #B84D61;
}
.cart_navigation .button-exclusive i {
  color: #fff;
}
/*---LOGIN---*/
.box {
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #d6d4d4;
}
.page-subheading {
  border-bottom: 1px solid #d6d4d4;
  color: #555454;
}
/*---TESTIMONIAL---*/
.testimonials blockquote:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ddd;
}
.testimonials blockquote:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid white;
}
.testimonials blockquote {
  background: none repeat scroll 0 0 white;
  border: 1px solid #ddd;
}
.titletesti {
  color: #B84D61;
  border-bottom: 1px dashed;
}
.testimonials blockquote img {
  background: none repeat scroll 0 0 white;
  border: 1px solid #ddd;
}
/*---AGENDA---*/
.agenda .tglevent {
  border-bottom: 1px solid #aaa;
}
@media (max-width:767px){
.header1 {
  background: none repeat scroll 0 0 #f4f4f4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
#bs-example-navbar-collapse-1 .nav.navbar-nav {
  background: #fff;
  font-family: "Open Sans";
  color: #333333;
}
.footerlink #bs-example-navbar-collapse-1 .nav.navbar-nav {
    background: transparent !important;
    font-family: "Open Sans";
    color: #333;
}
.footerlink .collapse {
    visibility: visible !important;
    display: none !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333333;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{color:#3C0058}
}
@media (min-width:768px){
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li.open > a,.navbar-inverse .navbar-nav > li.open > a:hover {
  background: none repeat scroll 0 0 #222B32 !important;
  color: #fff !important;
  border-top: none !important;
}
.header1{
	border:none;
}
.navbar-inverse .navbar-nav > li > a {
	border-left:0 none !important;
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    border: medium none;
}
}
@media (min-width:1200px){
}
/*======LOGO========*/

/*=====SLIDE====*/
.carousel-indicators li {
	border:none;
}
/*=======MENU========*/
.navbar-nav > li > .dropdown-menu {
    border: 0 none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
	border-left: 1px solid #B84D61;
	border-right: 1px solid #B84D61;
	border-bottom: 1px solid #B84D61;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/*==========ICON BIG===========*/
/*=========PRODUCT===========*/
.panel-default {
    border-color: none;
    box-shadow: none !important;
}
/*=========PRODUCT DETAIL==========*/
.pb-left-column #image-block {
  background: none repeat scroll 0 0 white;
  border: 1px solid #dbdbdb;
}
/*========THUMBNAIL NEWWS========*/
/*=======widget=======*/
.well {
    border: medium none;
}
.container .widget-right input[type="text"] {
}
.widget-right .btn.btn-default {
    border: medium none;
}
/*==========FOOTER========*/
li .down>.dropdown-menu {
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
li .down>a:after {
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
}
li .down:hover>a{
	background: #f5f5f5;
}
li .down:hover>a:after {
    border-left-color: #000;
}
.dropdown-menu{border:1px solid #B84D61}
@media (max-width:768px){
}
@media (min-width:0px){
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {background:transparent;}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #232C35 none repeat scroll 0px 0px;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,.navbar-inverse .navbar-toggle:focus .icon-bar{
	background:#232C35;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #333333;
  padding:8px 10px;
}
.left-carousel{
	background:url("images/left-arrow.png") no-repeat scroll 0 0 / 40px auto rgba(0, 0, 0, 0);
}
.right-carousel{
	background:url("images/right-arrow.png") no-repeat scroll 0 0 / 40px auto rgba(0, 0, 0, 0);
}
.left-carousel:hover,.right-carousel:hover {
	background-position:0 -41px;
}
.news-col {
	border:0;
}
.news-col .panel-body {
    border: 0 none;
}
}
@media (min-width:360px){}
@media (min-width:768px){
.news-col .img-news {
  border-style: none none none;
  border-width: 0 0 0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #333333;
}
}
@media (min-width:992px){
.left-carousel{
	background:url(images/left-arrow.png)no-repeat;
}
.left-carousel:hover{
	background-position:0 -75px;
}
.right-carousel{
	background:url(images/right-arrow.png)no-repeat;
	right:70px;
}
.right-carousel:hover {
	background-position:0 -74px;
}
}

/*---ICON PRODUCT---*/
/*-.new:before {
  color: #fff;
}
.new {
  background: none repeat scroll 0 0 #e6415f;
}--*/

.buy:before {
  color: #fff;
}
.buy {
  background: none repeat scroll 0 0 #B84D61;
}


.footerlink .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent!important;
}
@media (max-width:767px){
.footerlink h4 {
    color: #FFF;
    font-family: "open Sans";
    text-align: center !important;
}
div#right {
    text-align: center;
    padding: 7px 0px;
}
}